.inputs{
    display: flex;
    //algin-item: center;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 1.0rem;
}

h2{
    color: #C3DAC3;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

h3{
    text-align: center;
    font-weight: bold;
}

p{
    font-size: 18px;
}

