    <div class="container-fluid">
        <h2> Cadastro de Livros </h2>
    <br>
        <div class="row row-cols-3">
            <div class="col-4">
                <div class="mb-1">
                   <strong>NOME:</strong> 
                </div>
                <input type="text" class="form-control" [(ngModel)] = "livro" placeholder="Título do livro">
            </div>
            <div class="col-4">
                <div class="mb-1">
                   <strong> QUANTIDADE:</strong> 
                </div>
                <input type="number" class="form-control" [(ngModel)] = "qtdLivro" placeholder="Quantidade">
            </div>
            <div class="col-4">
                <div class="mb-1">
                    <strong>EDITORA:</strong>
                </div>
                <input type="string" class="form-control" [(ngModel)] = "editora" placeholder="Nome da editora">
            </div>
        </div>
        <div class="d-flex flex-row-reverse mt-2">
            <button class="btn btn-primary" (click)="adicionarNovoLivro()">Adicionar</button>
        </div>
        <br>

        <div class="row row-cols-3">
            <div class="col-4">
                <div class="mb-1">
                    <strong>AUTORES:</strong>
                    <input type="text" class="form-control" [(ngModel)]="autores" placeholder="Nome do autor">
                </div>
            </div>
        </div>
        <div class="d-flex align-item-center flex-row-reverse">
            <button class="btn btn-primary" (click)="adicionarNovoAutor()">Adicionar</button>
        </div>
