body{
    background-color: #003B36;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #C3DAC3;
}
.modal-body, .modal-header, .modal-footer{
    background-color: #003B36;
}
